body{
    background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:whitesmoke;
}
#cardlogin{
    margin-top: 400px;
    margin-top: 150px;
    justify-content: center;
    transition: all;
    width: 1000px;  
    background: rgba(0,0,0,0.15);
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.6);
    border: 1px solid rgba(255,255,255,0.5);
    text-align: center;
    margin-left: 350px;
    border-radius: 20px;
    }
    #cardregistrarse{
        margin-top: 800px;
        margin-top: 500px;
        justify-content: center;
        transition: all;
        width: 500px;  
        background: rgba(0,0,0,0.15);
        backdrop-filter: blur(5px);
        box-shadow: 0 25px 45px rgba(0,0,0,0.6);
        border: 1px solid rgba(255,255,255,0.5);
        text-align: center;
        margin-left: 600px;
        border-radius: 20px;
        margin-bottom: 200px;
        }
        #cardcode{
           
            margin-top: 50px;
            justify-content: center;
            width: 1000px;  
            background: rgba(190, 190, 207, 0.651);

            border: 1px solid rgba(255, 255, 255, 0.014);
            text-align: center;
            margin-left: 720px;
            border-radius: 20px;
            margin-bottom: 200px;
        }