body{

    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:whitesmoke;
}

header{
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#footer {
    background: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
}

#footer  h6 {
    text-decoration: none;
    color: #000;
}

#footer h6 i{
    font-size: 20px;
}
#footer h5{
    color: white;
}

#footer a{
    color: white;
}

#footer a:hover{
    color: #fff;
}
/*END FOOTER*/
#footerModal{
    background: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
}
#navbar{
    background: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

#navbar img{
    width: 50px;
    height: 50px;
}

#navbar span{
    color: #ffff;
    font-weight: bold;
}
#navbar span:hover {
    color: #000;
}
#navbar a{
    color: #ffff;
    font-weight: bold;
}

#navbar a:hover{
    color: #000;
}

#navbar .logout:hover{
    color: red;
}

#navbar .nav-item .profile{
    border-radius: 50%;
    border: 2px solid #fff;
}

#navbar .dropdown-menu a:hover{
    color: #4f87ef;
    cursor: pointer;
}

#navbar .navbar-nav .msg:hover{
    color: #000;
}

#navbar .navbar-nav .msg span{
    color: #fff;
}

#navbar .navbar-nav .msg span:hover{
    color: #fffb01;
}
#cartelera .menu-title{
    color: #000;
}

#cartelera hr{
    color: #000;
}

#cartelera .card{
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;

    transition: 0.2s ease;
}

#cartelera .card:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.5);
}

#cartelera .card span{
    border: none;
}

#cartelera .card-body p{
    text-align: justify;
}

#cartelera .card-body h5{
    font-weight: bold;
    color: #0a3991;
}

#cartelera .card-body span{
    color: #000;
}

#cartelera .card-footer{
    color: #fff;
    background: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
}

#cartelera .card-footer img{
    width: 60px;
    height: 40px;
    margin: auto;
    display: flex;
}

#cartelera .card-footer button{
    margin-right: 5px;
}
#ticket .modal-footer{
    background: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
}
#cardPelis .card:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.5);
}

/* Brayan  */
#main .carousel-inner img {
    max-height: 70vh;
    object-fit: fill;
    filter: grayscale(20%);
}

#carousel {
    position: relative;
}

#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 1;
}

#carousel .overlay .container,
#carousel .overlay .row {
    height: 100%;
}
/*/Brayan  */
/*Login */
/* Emerson */
#bodylogin{
    background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%); 
    font-family: 'Zen Dots', cursive;

}
#cardlogin{

    margin-top: 150px;
    justify-content: center;
    transition: all;
    width: 70%;
    left: 15%;
    background: rgba(0,0,0,0.15);
    backdrop-filter:     blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.6);
    border: 1px solid rgba(255,255,255,0.5);
    text-align: center;
    border-radius: 20px;
    }
    #modalregistrarse{
        transition: all;
        background: rgba(0,0,0,0.15);
        backdrop-filter: blur(5px);
        box-shadow: 0 25px 45px rgba(0,0,0,0.6); 
    
    }
    #cardregistrarse{
        
        justify-content: center;
        transition: all;
        background: rgba(0,0,0,0.15);
        backdrop-filter: blur(5px);
        box-shadow: 0 25px 45px rgba(0,0,0,0.6);
        background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%); 
        border: 1px solid rgba(255,255,255,0.5);
        text-align: center;
        border-radius: 20px;
        
        }
        
        #botonregistrarse{
        margin-top: 12px;   
        align-items: center;
        text-align: center;
        justify-items: center;
        background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
        
        }
        #botonnuevocodigo{
            margin-top: 10px;
        }
       
        #modalingresarheader{
            background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%); 
            
        }
       #modalingresarbody{
        background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%); 
       }
       #modalingresarfooter{
        background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%); 
        
       }
       #modalregistrarsehead{
        background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%); 
    }
       #modalregistrarsefooter{
        background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%); 
       }
        #cardcode{
            transition: all;
            background: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%); 
            box-shadow: 0 25px 45px rgba(0,0,0,0.6);
            border: 1px solid rgba(255,255,255,0.5);
            text-align: center; 
        }


#sillas ul {
    padding: 0;
    margin: 0;
    clear: both;
}

#sillas li{
    list-style-type: none;
    list-style-position: outside;
    padding: 10px;
    float: left;
}

#sillas input[type="checkbox"]:not(:checked), 
#sillas input[type="checkbox"]:checked {
    position: absolute;
    left: -9999%;
}

#sillas input[type="checkbox"] + label {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    border: 1px solid black;
    color: black;
    background-color: white;
    margin-bottom: 10px;
}

#sillas input[type="checkbox"]:checked + label {
    border: 1px solid white;
    color: white;
    background-color: gray;
}

#sillas .disabled input[type="checkbox"] + label{
    border: 1px solid white;
    color: white;
    background-color: gray;
}

/*START ERROR 401*/
#error401 .notvalid{
    font-weight: bold;
    font-size: 50px;
}

#error401 .container{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
/*END ERROR 401*/

