<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cinema</title>
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
        crossorigin="anonymous"
        />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="icon" href="../img/logocinema.ico">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
    </head>
    <body class="body2">
        <div id="app">
  
            <!-- HEADER -->
            <header>
                <nav id="navbar" class="navbar navbar-expand-lg bg-light navbar-dark">
                    <div class="container">
                        <a class="navbar-brand" href="app.html">
                            <img src="../img/logocinema.png" alt="logo">
                            <span>Cinema</span>
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="app.html">Home</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Configuración
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="#" data-bs-toggle="" data-bs-target="">Salas</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="#" data-bs-toggle="" data-bs-target="">Películas</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <!-- /Buttons -->
            <section class="mt-5 p-5">
                <button class="btn btn-primary mb-2" >Usuarios</button>
                <button class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#salas">Salas</button>
                <button class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#pelis">Películas</button>
            </section>
            <!-- /Buttons -->
            <!-- Table User -->
            <section v-if="i==0">
                <div class="container p-3">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><span class="material-icons"> person_add_alt</span></button>
                </div>
                <div class="container">
                  <table class="table table-dark table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Email</th>
                            <th scope="col">Cargo</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Opciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row"><span v-text="">Nombre</span> <span v-text="">Apellido</span></th>
                            <td><span v-text="">email@.com</span></td>
                            <td><span v-text="">Usuario/empleado</span></td>
                            <td><span v-text="">Activo/Inactivo</span></td>
                            <td><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit"><span class="material-icons">
                                edit</span></button>
                                <button class="btn btn-danger"><span class="material-icons">
                                    delete_forever</span></button>
                            </td>
                          </tr>
                        </tbody>
                  </table>
                </div>
                <!-- Modal agg usuario -->
                <section>
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Agregar Usuario</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            <div class="container">
                              <div class="row">
                                  <div class="form-floating mb-3 col-sm-6">
                                    <input id="floatingInput" type="text" class="form-control" placeholder="Nombre">
                                    <label for="floatingInput" class="ms-2">Email address</label>
                                  </div>
                                  <div class="form-floating mb-3 col-sm-6">
                                    <input type="text" class="form-control" placeholder="Apellido">
                                    <label for="floatingInput" class="ms-2">Apellido</label>
                                  </div>
                                  <div class="form-floating mb-3">
                                    <input type="text" class="form-control" placeholder="Direccion">
                                    <label for="floatingInput" class="ms-2">Dirección</label>
                                  </div>
                                  <div class="form-floating mb-3">
                                    <input type="number" class="form-control" placeholder="Telefono">
                                    <label for="floatingInput" class="ms-2">Telefono</label>
                                  </div>
                                  <div class="form-floating mb-3">
                                    <input type="email" class="form-control" placeholder="Email" required>
                                    <label for="floatingInput" class="ms-2">Email</label>
                                  </div>
                                  <div class="form-floating mb-3">
                                    <input type="text" class="form-control" placeholder="Usuario">
                                    <label for="floatingInput" class="ms-2">Usuario</label>
                                  </div>
                                  <div class="form-floating mb-3 col-sm-6">
                                    <input type="text" class="form-control" placeholder="Pin">
                                    <label for="floatingInput" class="ms-2">Pin</label>
                                  </div>
                                  <div class="form-floating mb-3 col-sm-6">
                                    <input type="text" class="form-control" placeholder="Confirmar Pin">
                                    <label for="floatingInput" class="ms-2">Confirmar Pin</label>
                                  </div>
                                  <!-- AQUI INCORPORAR UN VFOR O POR VALORES PARA ASIGNAR EL ROL -->
                                  <div class="container">
                                      <select class="form-select" aria-label="Default select example">
                                        <option selected>Seleccione el rol</option>
                                        <option value="1">Admin</option>
                                        <option value="2">Cajero</option>
                                      </select>
                                  </div>
                                      
                              </div>
                            </div>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-warning">Guardar</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </section>
                <!--  /Modal agg usuario-->
                <!-- Modal Edit usuario -->
                <section>
                    <!-- Modal -->
                    <div class="modal fade" id="edit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Agregar Usuario</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="container">
                                        <div class="row">
                                            <div class="form-floating mb-3 col-sm-6">
                                                <input id="floatingInput" type="text" class="form-control" placeholder="Nombre">
                                                <label for="floatingInput" class="ms-2">Email address</label>
                                            </div>
                                            <div class="form-floating mb-3 col-sm-6">
                                                <input type="text" class="form-control" placeholder="Apellido">
                                                <label for="floatingInput" class="ms-2">Apellido</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" placeholder="Direccion">
                                                <label for="floatingInput" class="ms-2">Dirección</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input type="number" class="form-control" placeholder="Telefono">
                                                <label for="floatingInput" class="ms-2">Telefono</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input type="email" class="form-control" placeholder="Email" required>
                                                <label for="floatingInput" class="ms-2">Email</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" placeholder="Usuario">
                                                <label for="floatingInput" class="ms-2">Usuario</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" placeholder="Pin">
                                                <label for="floatingInput" class="ms-2">Pin Anterior</label>
                                            </div>
                                            <div class="form-floating mb-3 col-sm-6">
                                                <input type="text" class="form-control" placeholder="Pin">
                                                <label for="floatingInput" class="ms-2">Nuevo Pin</label>
                                            </div>
                                            <div class="form-floating mb-3 col-sm-6">
                                                <input type="text" class="form-control" placeholder="Confirmar Pin">
                                                <label for="floatingInput" class="ms-2">Confirmar Pin</label>
                                            </div>
                                            <!-- AQUI INCORPORAR UN VFOR O POR VALORES PARA ASIGNAR EL ESTADO-->
                                            <div class="container">
                                                <select class="form-select" aria-label="Default select example">
                                                    <option selected>Estado</option>
                                                    <option value="1">Activo</option>
                                                    <option value="2">Inactivo</option>
                                                </select>
                                            </div>
                
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-warning">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--  /Modal Edit usuario-->
            </section>
            <!-- /Table User -->
            <!-- modalSalas -->
            <section>
                <div class="modal fade" id="salas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title col-11 text-center" id="exampleModalLabel">SALAS</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <span>Nombre</span>
                                    <input type="text" class="form-control" id="" placeholder="nombre de la sala">
                                </div>
                                <div>
                                    <span>Cantidad Asientos</span>
                                    <input type="number" class="form-control" id="" placeholder="número de asientos">
                                </div>                          
                            </div>
                            <div class="modal-footer" id="footerModal">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-warning">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- finalModalSalas -->
            <!-- modalPelicula -->
            <section>
                <div class="modal fade" id="pelis" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title col-11 text-center" id="exampleModalLabel">PELÍCULAS</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <span>Nombre</span>
                                    <input type="text" class="form-control" id="" placeholder="nombre de la película">
                                </div>
                                <div>
                                    <span>Género</span>
                                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                        <option selected>Seleccione un género</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>                                   
                                </div>
                                <div>
                                    <span>Duración</span>
                                    <input type="text" class="form-control" id="" placeholder="tiempo de duración">
                                </div>   
                                <span>Sinopsis</span>                       
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                                </div>
                                <div>
                                    <span>Estreno</span>
                                    <input type="text" class="form-control" id="" placeholder="fecha de estreno">
                                </div>
                                <div>
                                    <span>Valor ticket</span>
                                    <input type="number" class="form-control" id="" placeholder="valor ticket">
                                </div>
                                <div>
                                    <span>Sala</span>
                                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                        <option selected>Seleccione una sala</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>                                   
                                </div>   
                                <div class="mb-3">
                                    <label class="form-label">Imagen de la película</label>
                                    <input type="text" class="form-control" placeholder="Imagen no seleccionada" readonly v-model="pelisImg">
                                    <button type="button" class="btn btn-primary mt-2 mb-2" data-bs-toggle="modal"  data-bs-target="#modalseleccionar">
                                        Seleccionar imagen
                                    </button>
                                    <span v-if=""><strong class="text-center text-danger">Este campo es requerido</strong></span>
                                </div>                     
                            </div>
                            <div class="modal-footer" id="footerModal">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-warning">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- finalModalPeliculas -->
            <section id="cardPelis">
                <!-- Modal seleccionar imagenes-->
                <div class="modal fade" id="modalseleccionar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h5 class="modal-title text-center" id="exampleModalLabel">Seleccionar Imagen</h5>
                                <button type="button" class="btn btn-dark back" data-bs-toggle="modal"  data-bs-target="#pelis">Regresar <i class="fa-solid fa-rotate-left"></i></button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-6 col-md-6 col-lg-6 mt-3 mb-4">
                                            <div class="card" data-bs-toggle="modal"  data-bs-target="#pelis">
                                                <img src="../img/minions2Card.jpg" class="card-img-top" alt="selectimg" @click="selectimg('../img/minions2Card.jpg')">
                                                <div class="card-body">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-6 col-lg-6 mt-3 mb-4">
                                            <div class="card" data-bs-toggle="modal"  data-bs-target="#pelis">
                                                <img src="../img/buzzlLightyearCard.jpg" class="card-img-top" alt="selectimg" @click="selectimg('../img/buzzlLightyearCard.jpg')">
                                                <div class="card-body">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-6 col-lg-6 mt-3 mb-4">
                                            <div class="card" data-bs-toggle="modal"  data-bs-target="#pelis">
                                                <img src="../img/thorAmorYTruenoCard.png" class="card-img-top" alt="selectimg" @click="selectimg('../img/thorAmorYTruenoCard.png')">
                                                <div class="card-body">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-6 col-lg-6 mt-3 mb-4">
                                            <div class="card" data-bs-toggle="modal"  data-bs-target="#pelis">
                                                <img src="../img/jurassincWorldCard.jpg" class="card-img-top" alt="selectimg" @click="selectimg('../img/jurassincWorldCard.jpg')">
                                                <div class="card-body">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Modal seleccionar imagenes-->
            </section>
            <!-- CardlSalas -->
            <section id="cartelera" class="mt-4" v-if="">
                <div class="container">
                    <div class="row">
                        <div class="col text-center text-uppercase">
                            <h1 class="menu-title">Salas</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-3 mt-3 mb-4" v-for="" :key="">
                            <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
                                <h5 class="text-center">TITULO<span class="text-danger" v-text=""></span></h5>
                                <div class="card-body">                                                                     
                                    <h6 class="card-title">Nombre: <span v-text=""></span></h6>                                    
                                    <h6 class="card-title">No. Asientos: <span v-text=""></span></h6>                                                                    
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </section>
            <!-- finalCardSalas -->
            <!-- CardPeliculas -->
            <section id="cartelera" class="mt-4" v-if="">
                <div class="container">
                    <div class="row">
                        <div class="col text-center text-uppercase">
                            <h1 class="menu-title">PELÍCULAS</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-3 mt-3 mb-4" v-for="" :key="">
                            <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
                                <h5 class="text-center">TITULO<span class="text-danger" v-text=""></span></h5>
                                <div class="card-body">                                                                                                     
                                    <h6 class="card-title">Género: <span v-text=""></span></h6>                                                                    
                                    <h6 class="card-title">Estreno: <span v-text=""></span></h6>                                                                    
                                    <h6 class="card-title">Duración: <span v-text=""></span></h6>                                                                    
                                    <h6 class="card-title">Sinopsis: <span v-text=""></span></h6>                                                                    
                                    <h6 class="card-title">Sala: <span v-text=""></span></h6>                                                                    
                                    <h6 class="card-title">Valor ticket: <span v-text=""></span></h6>                                                                    
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </section>
            <!-- FinCardPeliculas -->
            <!-- FOOTER --> 
            <footer id="footer" class="pb-4 pt-4">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-12 col-lg col-md">
                            <a href="#">FAQ</a>
                        </div>
                        <div class="col-12 col-lg col-md">
                            <a href="#">Contact</a>
                        </div>
                        <div class="col-12 col-lg col-md">
                            <a href="#">Novedades</a>
                        </div>
                        <div class="col-12 col-lg col-md">
                            <a href="#">Privacy</a>
                        </div>
                        <div class="col-12 col-lg col-md">
                            <h6 class="text-center mt-2 mb-2">
                                Follow us: 
                                <a href="#"><i class="fab fa-instagram-square"></i></a>
                                <a href="#"><i class="fab fa-facebook-square"></i></a>
                            </h6>
                        </div>
                    </div>
                    <h6 class="text-center mt-4">© Copyright - All rights reserved</h6>
                    <h6 class="text-center mt-4">CINEMA</h6>
                </div>
            </footer>
            <!-- /FOOTER -->    
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
    <script src="../js/vue.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../js/main.js"></script>
</html>