<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cinema</title>
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
        crossorigin="anonymous"/>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@1,700&family=Open+Sans:wght@300;400;700&family=Poppins:wght@200;400&display=swap');
            </style>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="icon" href="../img/logocinema.ico">
    </head>
    <body class="body2">
        <div id="app">
  
            <!-- HEADER -->
            <header>
                <nav id="navbar" class="navbar navbar-expand-lg bg-light navbar-dark">
                    <div class="container">
                        <a class="navbar-brand" href="app.html">
                            <!-- <img src="./img/logo.png" alt="logo"> -->
                            <span>Cinema</span>
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="app.html">Home</a>
                                </li>
                                <li class="nav-item dropdown" v-if="user.role === 'admin' || user.role === 'superAdmin'">
                                    <a class="nav-link active" href="admin.html" aria-expanded="page">Configuración</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page">Bienvenido: <span v-text="user.name" class="text-primary"></span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link logout" aria-current="page" href="#" @click="logout">Cerrar Sesión<i class="fa-solid fa-right-from-bracket"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <!-- Carrusel -->
                <main id="main" class="">
                    <!-- Carusel -->
                    <div id="carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-pause="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="../img/buzzlLightyear.jpg" class="d-block w-100" alt="Images carousel">
                                <div class="carousel-caption p-5 mb-5">
                                    <h2 class="fw-bold ">LIGHTYEAR</h2>
                                    <p class="h4">Estreno: 16 de junio de 2022</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="../img/jurassincWorld.jpg" class="d-block w-100" alt="Images carousel">
                                <div class="carousel-caption p-5 mb-5">
                                    <h2 class="fw-bold">Jurassic World: Dominion</h2>
                                    <p class="h3">9 de junio de 2022</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="../img/minions2.jpg" class="d-block w-100" alt="Images carousel">
                                <div class="carousel-caption p-5 mb-5">
                                    <h2 class="fw-bold ">Minions: nace un villano</h2>
                                    <p class="h3">30 de junio de 2022</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="../img/thorAmorYTrueno.jpg" class="d-block w-100" alt="Images carousel">
                                <div class="carousel-caption p-5 mb-5">
                                    <h2 class="fw-bold ">Thor: amor y trueno</h2>
                                    <p class="h3">7 de julio de 2022</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Carusel -->
                </main>
            <!-- /Carrusel -->
            <section id="cartelera" class="mt-4">
                <div class="container">
                    <div class="row">
                        <div class="col text-center text-uppercase">
                            <h1 class="menu-title">EN CARTELERA</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-3 mt-3 mb-4" v-for="(item, index) in movies" :key="index">
                            <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
                                <img :src="item.img" class="card-img-top" alt="">
                                <h5 class="text-center"><strong v-text="item.title"></strong></h5>
                                <div class="card-body">                                                                     
                                    <h6 class="card-title">Estreno: <span v-text="item.release"></span></h6>                                    
                                    <h6 class="card-title">Genero: <span v-text="item.gender"></span></h6>                                    
                                    <h6 class="card-title">Duracion: <span v-text="item.duration"></span></h6>       
                                    <h6 class="card-title">Sala: <span v-text=""></span></h6>                                 
                                    <h6 class="card-title">Valor ticket: $ <span v-text=""></span></h6>                        
                                </div>
                                <div class="card-footer">
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                                        <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-warning">Comprar ticket</button>
                                    </div> 
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </section>
            <!-- inicio modal sillas -->
            <div class="modal fade" id="sillas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Puestos Disponibles Sala 1:</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row mx-auto">
                                    <ul>
                                        <li class="col-2" v-for="(item, index) in rooms[rpos].chairs" :key="index">
                                            <div v-if="item.status === 'available' && nTickets > 0">
                                                <input type="checkbox" :id="`check_${item.number}`" name="check" :value="item.number" @click="chairStatus(item,index)">
                                                <label :for="`check_${item.number}`" v-text="item.number">1</label>
                                            </div>
                                            <div class="disabled" v-else>
                                                <input type="checkbox" :id="`check_${item.number}`" name="check" :value="item.number" disabled>
                                                <label :for="`check_${item.number}`" v-text="item.number">1</label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row"><button type="button" class="btn btn-dark col-12 my-2">Pantalla</button></div>
                            </div>
                        </div>
                        <div class="modal-footer" id="footerModal">
                            <div class="mx-auto">
                                <button type="button" class="btn btn-primary" @click="goToPay" data-bs-toggle="modal" data-bs-target="#exampleModal" v-if="nTickets == 0">Comprar</button>
                                <button type="button" class="btn btn-primary" @click="goToPay" v-else>Comprar</button>
                                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">Regresar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- fin modal sillas -->
            <section>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel" v-text="">Boletería</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div v-if="openPayment == false">
                                    <p>Seleccione la sala</p>
                                    <select class="form-select" v-model="option" @change="getRoomIndex">
                                        <option v-for="(item, index) in rooms" :key="index" :value="item.roomCode" v-text="item.roomCode">Sala 1</option>
                                    </select>
                                    <input type="number" class="form-control mt-2" id="" placeholder="Cantidad de tickets" v-if="option.length > 0" v-model="nTickets">
                                    <button type="button" class="btn btn-primary mt-2 mb-2" data-bs-toggle="modal" data-bs-target="#sillas" v-if="option.length > 0 && nTickets > 0">Elija un puesto</button>
                                </div>
                                <div v-if="openPayment == true">
                                    <h6 class="text-center">SELECCIONA TU MÉTODO DE PAGO</h6>
                                    <div class="d-flex justify-content-center mt-3">

                                        <div class="col-1 d-flex align-items-center ">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexR1" value="nequi" v-model="pMethod">
                                        </div>

                                        <div class="col-4 align-items-end">
                                            <label for="flexR1"><img src="../img/nequi.svg" alt="" style="width: 200px; height: 50px;" class="align-items-end"></label>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center mt-3">
                                        <div class="col-1 d-flex align-items-center ">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexR2" value="mc" v-model="pMethod">
                                        </div>
                                        <div class="col-4 align-items-end">
                                            <label for="flexR2"><img src="../img/mastercard.svg" alt="" style="width: 200px; height: 50px;" class="align-items-end"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>                               
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-primary" v-if="openPayment == true" @click="saveChairStatus">Pagar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- FOOTER -->
            <footer id="footer" class="pb-4 pt-4">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-12 col-lg col-md">
                            <a href="#">FAQ</a>
                        </div>
                        <div class="col-12 col-lg col-md">
                            <a href="#">Contact</a>
                        </div>
                        <div class="col-12 col-lg col-md">
                            <a href="#">Novedades</a>
                        </div>
                        <div class="col-12 col-lg col-md">
                            <a href="#">Privacy</a>
                        </div>
                        <div class="col-12 col-lg col-md">
                            <h6 class="text-center mt-2 mb-2">
                                Follow us: 
                                <a href="#"><i class="fab fa-instagram-square"></i></a>
                                <a href="#"><i class="fab fa-facebook-square"></i></a>
                            </h6>
                        </div>
                    </div>
                    <h6 class="text-center mt-4">© Copyright - All rights reserved</h6>
                    <h6 class="text-center mt-4">CINEMA</h6>
                </div>
            </footer>
            <!-- /FOOTER -->
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
    <script src="../js/vue.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../js/app.js"></script>
</html>